{% extends "base.html" %}

    {% block content %}

<h1>{{title}}</h1>





{% for obj in page_obj %}
<ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
<div class="col-sm-6">

        <h3><a href ='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><small> {{ obj.timestamp|timesince }} ago</small></h3>
      <p>{{ obj.content|linebreaks|truncatechars:120}}</p>
            <p><a href='{{ obj.get_absolute_url }}' class="btn btn-primary" role="button">View</a></p>
</div>

</div>
        </li>
    </ul>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


    {% endblock content %}