{% extends "base.html" %}

{% block head_title %}{{ instance.name }} | {{block.super}}{% endblock head_title %}

{% block content %}

<h1>Topic {{title}}</h1>

NAME: {{ instance.name }}<br/>
DESCRIPTION: {{ instance.description }}<br/>
CREATED AT: {{ instance.created_at }}<br/>
AUTHOR: {{ instance.author }}<br/>
URL: {{ instance.url_name }}<br/>

<p><a href="{% url 'post_create' topic=instance.url_name %}" class="btn btn-primary" role="button">Create post</a></p>
<form method="'GET" action="">
    <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}"/>
    <input type="submit" value="Search"/>
</form>
{% for post in page_obj %}
<div class="col-md-6 offset-md-3">
    <h1><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a><small> {{ post.timestamp|timesince }} ago</small>
    </h1>
    {% if post.draft %} <h5 style="color:red">Draft</h5> {% endif %}
    {% if post.image %}
    <img src="{{post.image.url}}" class="img-responsive"/>
    {% endif %}
    {{ post.content | linebreaks}}<br/>
    <small>last edit: {{ post.last_updated }}</small><br/>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
